.container
  .col-md-12
    #profile_acc.col-md-4.col-md-offset-1
      %img= image_tag avatar_url(profile)
      %h2.name= profile.name
      %p.mail= mail_to profile.email
      %p.join_date
        Date joined
        = profile.created_at.strftime("%d-%m-%Y")

    .col-md-6
      - profile.galleries.each do |gallery|
        %p= gallery