= simple_form_for image, html: {multipart: true} do |f|
  = f.error_notification

  .input-fields
    = f.association :gallery
    = f.input :title
    = f.input :description
    = f.input :tags
    = f.input :picture, as: :file

  .form-actions
    = f.button :submit
