.container
  %section
<<<<<<< HEAD
    .col-md-3
      .image-info
        %h4 Title: <span class='image-title'>#{image.title}</span>
        %h4 Description: <span class='image-description'>#{image.description}</span>
        %h4= link_to "Galeria: #{image.gallery.title}", gallery_path(image.gallery)
    .col-md-9
      = image_tag image.picture.url(:original)
      = link_to "like", like_gallery_image_path, method: :get
      = pluralize(image.get_upvotes.size, "like")