%li
  =form_tag(root_path, method: "get") do
    =label_tag(:search, "Search for:")
    =text_field_tag :search, params[:search]
    =submit_tag "Search"
- if user_signed_in?
  %li= link_to current_user.name, show_profile_path(current_user)
  %li= link_to 'Edit account', edit_user_registration_path
  %li= link_to 'Sign out', destroy_user_session_path, :method=>'delete'
- else
  %li= link_to 'Sign in', new_user_session_path
  %li= link_to 'Sign up', new_user_registration_path
- if user_signed_in?
  - if current_user.try(:admin?)
    %li= link_to 'Users', users_path